<html>
<head>
	<meta http-equiv="Conten-Type" content="text/html" charset="utf-8">
	<style>
		#top{
			margin-left:2cm;
			padding-top:20px;
		}
	</style>
</head>
<body bgcolor="#006030">
	<div id="top">
	<span><b><font size="5" color="white">专用G故障设备检查</font></b></span>
	</div>
	<!--
	<div id="test">
	<form method="get" action="/query/">
	<span><b><font color="white">请输入G-IP地址:</font></b></span>
	<input type="test" name="address" />
	<input type="submit" value="检查" />
	</form>
	</div> -->
</body>
</html>
